%table.table.table-bordered.table-striped{id: table_id}
  %thead
    %tr
      %th Url
      %th Description
      %th Tags
  %tbody
    - @urls.each do |url|
      %tr
        %td
          %a{href: url.name}= url.name
        %td= url.desc
        %td= url.tags
