.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{:href => '/'} Urls
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/'}Home
          %li
            %a{:href => 'http://github.com/cldwalker/urls-web'} Source Code
